* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    object-fit: cover;
    background-repeat:no-repeat;
    background-position: center top;
    min-width: 100%;
    min-height: 100%;
}
#main-page {
    background-image: url("https://www.mngolf.org/Content/designs/2021/images/temp/courses.png");
    background-size: cover;
    object-fit: cover;
    background-repeat:no-repeat;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    color: white;
}
#main-page-nav {
    background-color: #3f3c3c;
    padding-top: 10px;
    padding-bottom: 10px;
}
#trivia-nav {
    background-color: #3f3c3c;
    color: white;
}
.hidden {
    display: none;
}
#list-item-nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
#golf-nav {
    margin-right: auto;
    padding-left: 10px;
}
#back-button, #hint-button, #sound-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
}
#back-button:hover, #hint-button:hover, #sound-button:hover, #answer0:hover, #answer1:hover, #answer2:hover, #open-modal:hover, #play-game:hover {
    font-weight: bold;
} 
#question-nav {
    padding-left: 60px;
    text-align: center;
}
#score-nav {
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}
#hint-nav, #sound-nav {
    padding-right: 60px;
}
#trivia-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    padding-top: 100px;
    font-size: 100px;
    text-align: center;
}
#open-modal {
    font-size: 25px;
    display: flex;
    justify-content: start;
    margin-top: 2px;
    margin-left: 10px;
}
#instructions-label {
    font-weight: bold;
    padding-bottom: 20px;
}
.instructions-description {
    line-height: 23px;
}
#spacing {
    padding-top: 20px;
}
#bottom-section {
    padding: 10px;
}
.container {
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
    padding-top: 140px;
}
input {
    vertical-align: middle;
    padding:10px;
}
#play-game {
    padding: 10px;
    display: inline-block;
    font-size: 25px;
}
h2 {
    padding-top: 80px;
    padding-bottom: 60px;
    color: black;
    text-align: center;
}
#trivia-section {
    background-color: lightslategray;
    margin-top: 40px;
    margin-left:20%;
    margin-right: 20%;
}
#question-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
#answer-section {
    padding-top: 20px;
    padding-bottom: 135px;
}
#answer0 {
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 450px;
    font-size: 28px;
    text-align: left;
}
#answer1 {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 450px;
    font-size: 28px;
    text-align: left;
}
#answer2 {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 450px;
    font-size: 28px;
    text-align: left;
}
#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
    /* resize: both; */
}
#modal-textbox {
	background-color: white;
    color: black;
	height: 240px;
	width: 500px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	font-size: 15px;
	padding: 2%;
	font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    resize: both;
}
#modal-footer {
	text-align: right;
    padding-top: 15px;
}
#response-modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
    resize: both;
}
#answer-modal {
	background-color: white;
    color: black;
	height: 180px;
	width: 200px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	font-size: 15px;
	padding: 2%;
	font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: auto;
    resize: both;
}
#correct-answer {
    display: none;
    padding-top: 5px;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}
#incorrect-answer {
    display: none;
    padding-bottom: 40px;
    font-weight: bold;
}
#modal-details {
    text-align: center;
    padding-bottom: 35px;
    font-size: 16px;
}
#next-button {
    margin-bottom: 0px;
    font-size: 20px;
}

@media only screen and (max-width: 755px) {
    #trivia-section {
        margin-left:10%; 
        margin-right:10%;
    }
    #answer0, #answer1, #answer2 {
        width: 250px;
    }
    #list-item-nav {
        flex-direction: column;
        margin-left: 10px;
    }
    #question-nav{
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 100%;
    }
    #golf-nav {
        margin: 0;
        padding-left: 0;
    }
    #score-nav {
        padding-left: 0;
        padding-right: 100%;
        
    }
    #sound-nav {
        padding-right: 0;
    }
}