* {
    margin: 0;
    padding: 0;
}
body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#main-page-nav {
    background-color: green;
    padding-top: 10px;
    padding-bottom: 10px;
}
#trivia-nav {
    background-color: gray;
    /* margin: 0 auto; */
    /* margin: 0; */
}
.hidden {
    display: none;
}
#list-item-nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
}
#golf-nav {
    /* padding-right: 600px;  */
    margin-right: auto;
    padding-left: 60px;
}
#score-nav {
    /* margin-left: 80%; */
    padding-left: 60px;
    padding-right: 60px;
}
#sound-nav {
    /* padding-left: 20px; */
    padding-right: 70px;
}
#trivia-title {
    background-image: url("https://www.mngolf.org/Content/designs/2021/images/temp/courses.png");
    position: relative;
    background-size: cover;
    /* height: 470px;
    width: 100%; */
}
h1 {
    text-align: center;
    /* margin: 20%; */
    padding: 120px;
    font-size: 100px;
}
#open-modal {
    font-size: 25px;
    display: flex;
    justify-content: start;
    /* background-color: transparent;
    border: none; */
    margin-top: 2px;
    margin-left: 10px;
}
#instructions-label {
    font-weight: bold;
    padding-bottom: 20px;
}
.instructions-description {
    line-height: 23px;
}
#spacing {
    padding-top: 20px;
}
#bottom-section {
    background-color: lightgray;
    padding: 10px;
}
#play-game:hover {
    font-weight: bold;
}
#open-modal:hover {
    font-weight: bold;
}
.container {
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
    padding-bottom: 40px;
}
input {
    vertical-align: middle;
    padding:10px;
}
#play-game {
    padding: 10px;
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
}
h2 {
    padding-top: 130px;
    padding-bottom: 50px;
    color: black;
    /* margin: 0 auto; */
}
#question-section {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#answer-section {
    /* background-color: lightgray; */
    padding-top: 20px;
}
#answer0 {
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 370px;
    font-size: 28px;
    background: aqua;
}
#answer0:hover{
    font-weight: bold;
    background-color: purple;
}
#answer1 {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 370px;
    font-size: 28px;
}
#answer1:hover{
    font-weight: bold;
    background-color: gray;
}
#answer2 {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    /* height: 70px; */
    width: 370px;
    font-size: 28px;
}
#answer2:hover{
    font-weight: bold;
    background-color: gray;
}
#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
}
#modal-textbox {
	background-color: white;
    color: black;
	height: 200px;
	width: 500px;
	border-radius: 2px;
	margin: 150px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
	font-size: 15px;
	padding: 2%;
	/* line-height: 120%; */
	font-family: Arial, Helvetica, sans-serif;

}
#modal-footer {
	text-align: right;
}
#response-modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
}

#answer-modal {
	background-color: white;
    color: black;
	height: 180px;
	width: 200px;
	border-radius: 2px;
	margin: 150px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
	font-size: 15px;
	padding: 2%;
	/* line-height: 120%; */
	font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#correct-answer {
    display: none;
    padding-top: 5px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 20px;
}
#incorrect-answer {
    display: none;
    padding-top: 5px;
    padding-bottom: 40px;
    font-weight: bold;
}
#modal-details {
    text-align: left;
    padding-bottom: 20px;
    font-size: 16px;
}
#next-button {
    margin-bottom: 0px;
    font-size: 20px;
}
#back-button {
    /* margin-right: 100%; */
    margin-left: 10px;
    margin-top: 200px;
    margin-bottom: 100%;
}